* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.timer-container {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  gap: 20px;
}
